.novo-pedido-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.novo-pedido-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.novo-pedido-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.novo-pedido-container select,
.novo-pedido-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pedido-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pedido-item input {
  width: 60px; /* Define a largura do campo */
  padding: 5px; /* Ajusta o espaçamento interno */
  font-size: 14px; /* Ajusta o tamanho da fonte */
  text-align: center; /* Centraliza o texto */
  border: 1px solid #ddd; /* Define a borda */
  border-radius: 4px; /* Bordas arredondadas */
}

.enviar-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.enviar-btn:hover {
  background-color: #0056b3;
}

.mensagem {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: green;
}