.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 400px; /* Ajuste a largura conforme necessário */
    margin: 40px auto;
    margin-right: 20px;
    /* Mantenha ou ajuste o padding */ /* Centraliza o formulário na página */
  }
  
  .title {
    color: #333;
    margin-bottom: 20px;
  }
  
  .successMessage {
    color: green;
    margin-bottom: 10px;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input:focus {
    outline: none;
    border-color: #007bff; /* Cor de destaque ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }