.container {
    padding: 20px;
    margin-right: 20px;
    margin: 30px auto;
  }
  
  h2 {
    color: #333;
    margin-bottom: 15px;
    align-items: center;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 10px;
  }
  
  .listaMesas {
    list-style: none;
    padding: 0;
  }
  
  .itemMesa {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 8px;
  }
  
  .itemMesa strong {
    font-weight: bold;
    margin-right: 5px;
  }